<div style="text-align: right">{{post.created | date: 'short'}}</div>
<h2>{{post.title}}</h2>
<span><h4>{{post.content}}</h4></span>
<button class="btn btn-success" (click)="loveIt()">Love it !</button>
<button class="btn btn-danger" (click)="dontLoveIt()">Don't love it !</button>
<button class="btn btn-danger pull-right" (click)="onDeletePost(post)">Supprimer</button>
