<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts> 0,
                'list-group-item-danger': post.loveIts < 0 }">
<app-post (postLoveItEvent)="countChange($event)"
          [post]="post"></app-post>
 </li>

